https://nfd-nightly-apt.ndn.today {
  listen 45.142.157.169 2604:9cc0:0:15ec::80

  root * /home/web/nfd-nightly-apt/public
  file_server {
    hide {http.vars.root}/*/conf {http.vars.root}/*/db
    browse
  }

  log {
    output file /var/log/caddy/nfd-nightly-apt.log {
      roll_size 32MiB
      roll_keep 5
    }
    format filter {
      wrap json
      fields {
        request>tls delete
        common_log delete
        resp_headers delete
      }
    }
  }
}
